nav{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: purple;
    padding: 10px;
}
a{
    text-decoration: none;
    color: white;
    margin: 10px;
}

button{
    background: purple;
    color: #ffffff;
    border: none;
    font: 16px Times New Roman;
}

